<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data</title>
</head>
<body>
    <div class="data-wrapper">
        {% for item in data %}
        <div class="item">
            <div>{{ item.name }}</div>
            <img src={{ item.image_url }} width="100">
        </div>
        {% endfor %}
    </div>
</body>
<style>
    .data-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }

    .item {
        display: flex;
        flex: 1;
        flex-direction: column;
        border: 1px solid black;
    }

    .item + .item {
        margin-top: 5px;
    }
</style>
</html>